<h3>Patient details</h3>
<form>
    <div class="form-group">
        <label>FistName</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="patient.firstName" name="firstName" disabled>
    </div>
    <div class="form-group">
        <label>lastName</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="patient.lastName" name="lastName" disabled>
    </div>
    <div class="form-group">
        <label>birthday</label>
        <input type="text" class="form-control" id="birthday" [(ngModel)]="patient.birthday" name="birthday" disabled>
    </div>
    <div class="form-group">
        <label>gender</label>
        <input type="text" class="form-control" id="gender" [(ngModel)]="patient.gender" name="gender" disabled>
    </div>
    <div class="form-group">
        <label>mainAdress</label>
        <input type="text" class="form-control" id="mainAdress" [(ngModel)]="patient.mainAdress" name="mainAdress" disabled>
    </div>
    <div class="form-group">
        <label>phone</label>
        <input type="text" class="form-control" id="phone" [(ngModel)]="patient.phone" name="phone" disabled>
    </div>

    <br>

    <app-patient-notes-list></app-patient-notes-list>

</form>