<h2>Patients list</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>firstName</th>
            <th>lastName</th>
            <th>birthday</th>
            <th>gender</th>
            <th>mainAdress</th>
            <th>phone</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients">
            <td>{{patient.firstName}}</td>
            <td>{{patient.lastName}}</td>
            <td>{{patient.birthday}}</td>
            <td>{{patient.gender}}</td>
            <td>{{patient.mainAdress}}</td>
            <td>{{patient.phone}}</td>
            <td class="d-flex justify-content-around">
                <button (click)="detailsPatient(patient.patientId)" class="btn btn-success">Details</button>
                <button (click)="updatePatient(patient.patientId)" class="btn btn-info">Update</button>
                <button (click)="deletePatient(patient.patientId)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>