<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a (click)="onSubmitNoteAdd()" routerLink="" routerLinkActive="active" class="nav-link">Add Comment</a>
        </li>
    </ul>
</nav>

<h3>Notes list</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:80%">comment</th>
            <!-- <th>updateDate</th>
            <th>creationDate</th> -->
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let note of patientNotes">
            <td>{{note.comment}}</td>
            <!-- <td>{{note.updateDate}}</td>
            <td>{{note.creationDate}}</td> -->

            <td class="d-flex justify-content-around">
                <!-- <button (click)="updatePatient(patient.patientId)" class="btn btn-info">Update</button>
                <button (click)="deletePatient(patient.patientId)" class="btn btn-danger">Delete</button> -->
                <button class="btn btn-info">Update</button>
                <button (click)="deletePatientNote(note)" class="btn btn-danger">Delete</button>
            </td>

        </tr>
    </tbody>
</table>