<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container">
        <a (click)="onSubmitNoteAdd()" routerLink="" routerLinkActive="active" class="navbar-brand">Add
            Note</a>
        <div>
            <ul class="navbar-nav ms-auto bg-primary navbar-dark">
                <li class="nav-item">
                    <a [routerLink]="['/patient-diabetes-risk-report',patientId]" routerLinkActive="active" class="nav-link active">Report Diabetes Risk</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>

<!-- <h3>Notes list</h3> -->

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:80%">Note</th>
            <!-- <th>updateDate</th>
            <th>creationDate</th> -->
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let note of patientNotes; let indexOfNote = index;">
            <td>{{note.comment}}</td>
            <!-- <td>{{note.updateDate}}</td>
            <td>{{note.creationDate}}</td> -->

            <td class="d-flex justify-content-around">
                <!-- <button (click)="updatePatient(patient.patientId)" class="btn btn-info">Update</button>
                <button (click)="deletePatient(patient.patientId)" class="btn btn-danger">Delete</button> -->
                <button (click)="updatePatientNote(indexOfNote)" class="btn btn-info">Update</button>
                <button (click)="deletePatientNote(note)" class="btn btn-danger">Delete</button>
            </td>

        </tr>
    </tbody>
</table>